 /* This asterisks is to get rid of the the margins around the site */
* {
    margin: 0;
    padding: 0;
    border: 1px solid red;
}
a {
    text-decoration: none;
    color: inherit;
}

body {
font-family: 'Roboto', sans-serif;
 } 

 /* HEADER */

header {
    background-color: #1f2937;
    padding: 1em 13em;
 } 
 /* HEADER padding gets content off side walls of site 
 and centered took forever to figure out */
.nav {
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    list-style-type: none;
    font-size: 18px;
    color: #e5e7eb;
    gap: 18px;
 }

#logo {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
}
.nav2 {
    color: #F9FAF8;
}

.nav2 {
    padding: 7em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.nav2 .left {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex:1;
}

.nav2 .right {
    flex-shrink: 0;
    width: 50%;
}


#main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

#main-text2 {
    font-size: 18px;
    color: #e5e7eb;
}

#button {
    padding: 7px 1em;
    width: 120px;
    background-color: #3882F6;
    border-radius: 8px;
    color: #e5e7eb;
    font-size: 18px;
}

.left2 {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 1;
    width: 50%;

}

.image {
    background-color: grey;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Main Random Information */

main {
    background-color: #f9faf8;
 }

 /* QUOTE */

.quote {
    background-color: #e5e7eb;
 } 

 /* Sign up */

 .sign-up {
    background-color: #f9faf8;
 }

 /* FOOTER */

 footer {
    background-color: #1f2937;
    color: #FFF;
}
